html, body, .wrapper, .content-wrapper {
  height: 100% !important;
}

.wrapper {
  overflow: auto !important;
}

.wrapper, .content-wrapper {
  background: image_url("main-bg.jpg") repeat !important;
  min-height: 700px !important;
}

.content-wrapper {
  margin-left: 0 !important;
}

#footer-bg {
  height: 70px;
  margin-top: -70px;
  background: image_url("bottom.png") repeat !important;
}

#top-bg {
  height: 148px;
  margin-bottom: 50px;
  background: image_url("top.png") repeat !important;
}