<!DOCTYPE html>
<html>
<head>
  <title>M3 Secret Santa</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-blue">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="view-frame animate-view">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>